<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nzuri Petals Academy">
    <meta name="keywords" content="Nzuri Petals Academy School Kenya,Nzuri,nzuri,Petals
    ,petals, Academy,School,Kenya">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nzuri Petals Academy</title>
    <!-- Favicons-->
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="icon" href="/favicon.png">
    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Plugins-->
    <link href="./assets/styles/plugins.min.css" rel="stylesheet">
    <!-- Template core CSS-->
    <link href="./assets/styles/template.css" rel="stylesheet">

    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

        .fluid-width-video-wrapper iframe,
        .fluid-width-video-wrapper object,
        .fluid-width-video-wrapper embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body>

    <!-- Preloader-->
    <div class="page-loader">
        <div class="page-loader-inner">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Preloader end-->

    <!-- Header-->
    <header class="header header-transparent">
        <div class="container-fluid">
            <!-- Schools header-->
            <div class="inner-header"><a class="inner-brand" href="index.html">Nzuri Petals Academy</a></div>
            <!-- Navigation-->
            <div class="inner-navigation collapse">
                <div class="inner-nav onepage-nav">
                    <ul>
                        <li><a href="#home" class="active"><span class="menu-item-span">Home</span></a></li>
                        <li><a href="#about" class=""><span class="menu-item-span">About us</span></a></li>
                        <li><a href="#gallery" class=""><span class="menu-item-span">Gallery</span></a></li>
                        <li><a href="./assets/howtoenroll.html" class=""><span class="menu-item-span">How to Enroll</span></a></li>
                        <li><a href="#contact" class=""><span class="menu-item-span">Contact</span></a></li>
                        <li><a href="#blog" class="active"><span class="menu-item-span">News</span></a></li>

                    </ul>
                </div>
            </div>
            <div class="extra-nav">
                <ul>
                    <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i
                                    class="ti-menu"></i></span></a></li>
                    <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span
                                class="menu-item-span"><i class="ti-menu"></i></span></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header end-->

    <!-- Wrapper-->
    <div class="wrapper">
        <!-- Hero-->
        <section class="module-cover parallax fullscreen text-center" id="home"
            data-background="./assets/images/logo1.png" data-overlay="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Nzuri Petals Academy</strong></h1>
                        <p class="m-b-40">Success to the uppermost level</p>
                        <p ><a class="btn btn-circle btn-outline-new-white" href="#about">Learn more</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero end-->

        <!-- About-->
        <section class="module divider-bottom" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto text-center">
                        <h1>Welcome to Nzuri.</h1>
                        <p>Our learning is centered on development of the whole child
                            including academic,emotional,and social growth.The environment is expansive with mature trees around the school itself, a dedicated sports turf and 
                            multiple play areas.The school is within a community yet immune from any disturbances that may affect the well-being 
                            of the pupils</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="space" data-MY="60px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><img src="assets/images/pic7.png" alt=""></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="space" data-mY="30px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="icon-box text-center">
                            <div class="icon-box-icon"><span class="ti-layout"></span></div>
                            <div class="icon-box-title">
                                <h6>Founded 2003 </h6>
                            </div>
                            <div class="icon-box-content">
                                <p>Outdoor learning and tending to
                                    our school garden is a big part of
                                    our day
                                </p>
                            </div>
                            <div class="icon-box-link"><a href="#">Read more</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="icon-box text-center">
                            <div class="icon-box-icon"><span class="ti-cup"></span></div>
                            <div class="icon-box-title">
                                <h6>Students: 450</h6>
                            </div>
                            <div class="icon-box-content">
                                <p>This age group is playing their way
                                    to greater independence, socio-
                                    emotional growth and self.
                                </p>
                            </div>
                            <div class="icon-box-link"><a href="#">Read more</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="icon-box text-center">
                            <div class="icon-box-icon"><span class="ti-harddrives"></span></div>
                            <div class="icon-box-title">
                                <h6>Location: Malindi, Kilifi County, KE</h6>
                            </div>
                            <div class="icon-box-content">
                                <p>We are located in Malindi ,Kilifi County.
                                </p>
                            </div>
                            <div class="icon-box-link"><a href="#">Read more</a></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="icon-box text-center">
                            <div class="icon-box-icon"><span class="ti-desktop"></span></div>
                            <div class="icon-box-title">
                                <h6>
                                    Teacher-Student: 1:7</h6>
                            </div>
                            <div class="icon-box-content">
                                <p>
                                    We have the best Teacher-Student ratio which ensures efficient learning.
                                </p>
                            </div>
                            <div class="icon-box-link"><a href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About end-->

        <!-- Portfolio-->
        <section class="module p-b-0" id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto text-center">
                        <h1>Gallery.</h1>
                        <p class="lead">At Nzuri Petals Academy everyone is teaching and learning
                            with,and from each other everyday,supported by a rich,authentic and creative
                            curricullum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="space" data-MY="40px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="filters serif">
                            <li><a class="current" href="#" data-filter="*">All</a></li>
                            <li><a href="#" data-filter=".educational-tour">Educational Tour</a></li>
                            <li><a href="#" data-filter=".staff">Staff</a></li>
                            <li><a href="#" data-filter=".events">Events</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row row-portfolio" data-columns="3">
                    <div class="grid-sizer"></div>
                    <div class="portfolio-item staff">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-img"><img src="./assets/images/football.jpeg" alt=""></div>
                            <div class="portfolio-item-caption">
                                <h6 class="portfolio-item-title">Pupils playing football in the school pitch</h6><span></span>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item educational-tour">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-img"><img src="assets/images/pic4.jpeg" alt=""></div>
                            <div class="portfolio-item-caption">
                                <h6 class="portfolio-item-title">Pupil Recieving Award from the Director</h6><span
                                    class="portfolio-item-subtitle serif"></span>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item educational-tour">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-img"><img src="./assets/images/pic1.jpeg" alt=""></div>
                            <div class="portfolio-item-caption">
                                <h6 class="portfolio-item-title">Pupils in an Educational Tour</h6><span></span>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item events">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-img"><img src="assets/images/pic3.jpeg" alt=""></div>
                            <div class="portfolio-item-caption">
                                <h6 class="portfolio-item-title">Pupil Recieving Award from the Director</h6><span></span>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item staff">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-img"><img src="assets/images/pic5.jpeg" alt=""></div>
                            <div class="portfolio-item-caption">
                                <h6 class="portfolio-item-title">Pupils in an Educational Tour</h6><span></span>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item events">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-img"><img src="assets/images/pic6.jpeg" alt=""></div>
                            <div class="portfolio-item-caption">
                                <h6 class="portfolio-item-title">Pupils in an Educational Tour</h6><span></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="portfolio-item events">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-img"><img src="./assets/images/team.jpg" alt=""></div>
                            <div class="portfolio-item-caption">
                                <h6 class="portfolio-item-title">Pupils preparing for a match</h6><span></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="portfolio-item events">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-img"><img src="assets/images/pic2.jpeg" alt=""></div>
                            <div class="portfolio-item-caption">
                                <h6 class="portfolio-item-title">Pupils on educational tour</h6><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio end-->

        <!-- Team-->

        <!-- Team end-->



        <!-- Testimonials-->
        <section class="module parallax" data-background="assets/images/module-12.jpg" data-overlay="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="space" data-MY="50px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="review-slides owl-carousel">
                            <div class="review">
                                <div class="review-icons"><img src="assets/images/avatar/1.jpg" alt="">
                                </div>
                                <div class="review-content">
                                    <blockquote>
                                        <p>Nzuri Petals Academy has natured my children into the successful People
                                            they are in society today. It sure takes SUCCESS to the UPPERMOST level.
                                        </p>
                                        <footer class="blockquote-footer">Gabriel Ngeti, guardian</footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="review">
                                <div class="review-icons"><img src="assets/images/avatar/1.jpg" alt="">
                                </div>
                                <div class="review-content">
                                    <blockquote>
                                        <p>Education is our passport to the future, for tomorrow belongs to the people
                                            who prepare for it today.</p>
                                        <footer class="blockquote-footer">Joseph Kimri, parent</footer>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="review">
                                <div class="review-icons"><img src="assets/images/avatar/1.jpg" alt="">
                                </div>
                                <div class="review-content">
                                    <blockquote>
                                        <p>Learn as much as you can while you are young, since life becomes too busy
                                            later.
                                            Nzuri Petals Academy offers you a place to Learn and build your talent.
                                        </p>
                                        <footer class="blockquote-footer">Elizabeth Wangui, parent</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="space" data-MY="50px"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials end-->

        <!-- Clients-->

        <!-- Clients end-->

        <!-- Posts-->
        <section class="module" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto text-center">
                        <h1>Latest articles.</h1>
                        <p class="lead">“The children across the school have continued to show our
                            school values with enthusiasm and commitment. Our values trees
                            have a growing number of flowers as the children demonstrate our
                            values in all aspects of school life. Well done to all those
                            children that have shown their teacher they are flourishing in
                            our values.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="space" data-MY="60px"></div>
                    </div>
                </div>
                <div class="row row-post-masonry">
                    <div class="col-md-4 post-item">
                        <!-- Post-->
                        <article class="post">
                            <div class="post-preview"><a href="#"><img src="./assets/images/pic2.jpeg" alt=""></a></div>
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title">Educational Tours</a></h2>
                                </div>
                                <div class="post-content">
                                    <p>There is a general saying “I hear and I forget, I see and I remember, I do and I
                                        understand,” it describes the theory of retaining more information when visually
                                        experiencing the activities in a chosen environment. Below are some of the key
                                        benefits of educational tours and reasons why getting students on these trips
                                        are good for them.</p>
                                    <p><a href="#">Read more</a></p>
                                </div>
                            </div>
                        </article>
                        <!-- Post end-->
                    </div>
                    <div class="col-md-4 post-item">
                        <!-- Post-->
                        <article class="post">
                            <div class="post-preview"><a href="#"><img src="./assets/images/pic8.jpeg" alt=""></a></div>
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title">Academics</a></h2>
                                </div>
                                <div class="post-content">
                                    <p>Education is the passport to the future, for tomorrow belongs to those who
                                        prepare for it todayIn the words of Nelson Mandela “education is the most
                                        powerful weapon which you can use to change the world”. Education in Africa has
                                        been a matter of discussions through out history. After the colonization era,the
                                        education system in Africa suffered a significant change which leaves flagrant
                                        effects in today’s society. Africa is witness of violent conflicts and different
                                        economical and political realities that have an impact on everyday life, and
                                        most importantly, on future generations. The different realities of the
                                        countries in Africa, makes it difficult to consolidate a stable form of
                                        education in most regions..</p>
                                    <p><a href="#">Read more</a></p>
                                </div>
                            </div>
                        </article>
                        <!-- Post end-->
                    </div>
                    <div class="col-md-4 post-item">
                        <!-- Post-->
                        <article class="post">
                            <div class="post-preview"><a href="#"><img src="./assets/images/pic9.jpg" alt=""></a></div>
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title"><a href="blog-single.html">Environment</a></h2>
                                </div>
                                <div class="post-content">
                                    <p>Malindi is a town on Malindi Bay at the mouth of the Sabaki River, lying on the
                                        Indian Ocean coast of Kenya. It is 120 kilometres northeast of Mombasa. The
                                        population of Malindi was 119,859 as of the 2019 census. It is the largest
                                        urban centre in Kilifi County.</p>
                                    <p><a href="#">Read more</a></p>
                                </div>
                            </div>
                        </article>
                        <!-- Post end-->
                    </div>
                </div>
            </div>
        </section>
        <!-- Posts end-->

        <!-- Form-->
        <section class="module divider-top" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-9 m-auto text-center">
                        <h1>Talk to Us.</h1>
                        <p class="lead">If you have an issue or a query that you would like addressed by the
                            adminstration feel free to reach out.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="space" data-MY="60px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 m-auto">
                        <form action="mail.php" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="name" placeholder="Name">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="emailaddress" placeholder="E-mail"
                                            required="">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="subject" placeholder="Subject"
                                            required="">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" placeholder="Message" rows="12"
                                            required=""></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        <input class="btn btn-block btn-brand" type="submit" value="Send Message" >
                                    </p>
                                </div>
                            </div>
                        </form>
                        <!-- Ajax response-->
                        <div class="ajax-response text-center" id="contact-response"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Form end-->

        <!-- Counters-->
        <section class="module bg-gray p-b-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="counter">
                            <div class="counter-icon"><span class="icon-energy icons"></span></div>
                            <div class="counter-number">
                                <h6><strong class="counter-timer" data-from="0" data-to="450">0</strong></h6>
                            </div>
                            <div class="counter-title">Students Enrolled</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter">
                            <div class="counter-icon"><span class="icon-game-controller icons"></span></div>
                            <div class="counter-number">
                                <h6><strong class="counter-timer" data-from="0" data-to="20">0</strong></h6>
                            </div>
                            <div class="counter-title">Number Teachers</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter">
                            <div class="counter-icon"><span class="icon-fire icons"></span></div>
                            <div class="counter-number">
                                <h6><strong class="counter-timer" data-from="0" data-to="20">0</strong></h6>
                            </div>
                            <div class="counter-title">Awards Won</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter">
                            <div class="counter-icon"><span class="icon-diamond icons"></span></div>
                            <div class="counter-number">
                                <h6><strong class="counter-timer" data-from="0" data-to="30">0</strong></h6>
                            </div>
                            <div class="counter-title">Number of non-teaching staff</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Counters end-->

        <!-- Image-->
        <section class="module no-gutters p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12"><img src="" alt=""></div>
                </div>
            </div>
        </section>
        <!-- Image end-->


        <!-- Footer-->
        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Text widget-->
                            <aside class="widget widget-text">
                                <div class="widget-title">
                                    <h6>Contact Us</h6>
                                </div>
                                <div class="textwidget">
                                    <p>Nzuri Petals Academy provides education for children in years 3-15.</p>
                                    <p>
                                        <br>
                                        E-mail: support@nzuripetalsacademy@gmail.com<br>
                                        Phone Office: 0412002192<br>
                                        School Mobile: +254722877219<br>
                                    </p>
                                    <p>
                                        Location: Gongoni, Malindi<br>
                                        Postal Address: P.O BOX 25-80206<br>
                                        Gongoni<br>
                                        Malindi<br>
                                    </p>
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>


                        <div class="col-md-3">
                            <!-- Recent works-->
                            <aside class="widget widget-recent-works">
                                <div class="widget-title">
                                    <h6>Portfolio</h6>
                                </div>
                                <ul>
                                    <li><img src="./assets/images/pic1.jpeg" alt=""></a></li>
                                    <li><img src="./assets/images/pic3.jpeg" alt=""></a></li>
                                    <li><img src="./assets/images/pic5.jpeg" alt=""></a></li>
                                    <li><img src="./assets/images/pic4.jpeg" alt=""></a></li>
                                    <li><img src="./assets/images/pic6.jpeg" alt=""></a></li>
                                    <li><img src="./assets/images/pic2.jpeg" alt=""></a></li>
                                   
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>© 2022 MashandNgetiDevelopers, All Rights Reserved. Reach us on +254746023103 or via Email
                                    mashandngeti.developers2k@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end-->
    </div>
    <!-- Wrapper end-->
    <!-- Off canvas-->
    <div class="off-canvas-sidebar">
        <div class="off-canvas-sidebar-wrapper">
            <div class="off-canvas-header"><a class="off-canvas-close" href="#"><span class="ti-close"></span></a></div>
            <div class="off-canvas-content">
                <!-- Text widget-->
                <aside class="widget widget-text">
                    <div class="textwidget">
                        <p class="text-center"><img src="assets/images/logo-light-2.png" alt="" width="80px"></p>
                        <p class="text-center">Nzuri Petals Academy.
                            Success to the uppermost level.
                        </p>
                    </div>
                </aside>
                <!-- Recent portfolio widget-->
                <aside class="widget widget-recent-works">
                    <ul>
                        <li><a href="#"><img src="./assets/images/pic1.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="./assets/images/pic3.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="./assets/images/pic5.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="./assets/images/pic4.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="./assets/images/pic6.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="./assets/images/pic2.jpeg" alt=""></a></li>
                    </ul>
                </aside>
                <!-- Social Icons-->
                <ul class="social-icons text-center">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- Off canvas end-->

    <!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>

    <!-- Scripts-->
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/jsrap/bootstrap.min.js"></script>
    <script src="./assets/js/plugins.min.js"></script>
    <script src="./assets/js/custom.min.js"></script>

</body>

</html>